<label for="">Main URL</label>
<select name="fuel" id="fuel" class="postbox">
    <option value="petrol" <?php echo $fuel_type == 'petrol' ? 'selected' : ''; ?>>Petrol</option>
    <option value="diesel" <?php echo $fuel_type == 'diesel' ? 'selected' : ''; ?>>Diesel</option>
    <option value="hybrid" <?php echo $fuel_type == 'hybrid' ? 'selected' : ''; ?>>Hybrid</option>
    <option value="electric" <?php echo $fuel_type == 'electric' ? 'selected' : ''; ?>>Electric</option>
</select><br>
<label for="brand">Select brand</label>
<select name="brand" id="brand" class="postbox">
    <option value="opel" <?php echo $brand_type == 'opel' ? 'selected' : ''; ?>>Opel</option>
    <option value="bmw" <?php echo $brand_type == 'bmw' ? 'selected' : ''; ?>>BMW</option>
    <option value="vw" <?php echo $brand_type == 'vw' ? 'selected' : ''; ?>>Volkswagen</option>
    <option value="dacia" <?php echo $brand_type == 'dacia' ? 'selected' : ''; ?>>Dacia</option>
    <option value="lamborghini" <?php echo $brand_type == 'lamborghini' ? 'selected' : ''; ?>>Lamborghini</option>
    <option value="fiat" <?php echo $brand_type == 'fiat' ? 'selected' : ''; ?>>Fiat</option>
</select><br>
<label for="color">Select color</label>
<select name="color" id="color" class="postbox">
    <option value="green" <?php echo $color_type == 'green' ? 'selected' : ''; ?>>Green</option>
    <option value="cameleon" <?php echo $color_type == 'cameleon' ? 'selected' : ''; ?>>Cameleon</option>
    <option value="red" <?php echo $color_type == 'red' ? 'selected' : ''; ?>>Red</option>
    <option value="yellow" <?php echo $color_type == 'yellow' ? 'selected' : ''; ?>>Yellow</option>
</select>